<div id="<%= dom_id table %>">
  <p>
    <strong>Fname:</strong>
    <%= table.fname %>
  </p>

  <p>
    <strong>Lname:</strong>
    <%= table.lname %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= table.age %>
  </p>

</div>
